PORT=3000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/skylark

JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret

JWT_ACCESS_EXPIRY=60m
JWT_REFRESH_EXPIRY=7d

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672

REDIS_URL=redis://redis:6379

MEDIAMTX_API=http://mediamtx:9997
MEDIAMTX_WEBRTC=http://localhost:8889

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

SMTP_USER=xyz@gmail.com
SMTP_PASS=ckjasjkjxnjas

SMTP_FROM=camera-surveillance-system <xyz@gmail.com>