.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;

    font-size: 14px;
}

.links a {
    color: var(--primary);

    transition: var(--transition);
}

.links a:hover {
    text-decoration: underline;
}