.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 6px;

    margin-top: 8px;

    font-size: 14px;
}

.footer a {
    color: var(--primary);
    font-weight: 600;
}

.footer a:hover {
    text-decoration: underline;
}
