.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.footer a {
    color: var(--primary);
}

.footer a:hover {
    text-decoration: underline;
}